@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  align-items: center;
  color: black;
}

.logo-cagi{
  width: 90px;
  height: 90px;
}
.login-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-right: 10px; /* Ajuste a margem conforme necessário */
}
.login-link:hover,
.cart-link:hover {
  color: #4759FF; /* Cor do texto ao passar o mouse */
}
.login-link::before,
.cart-link::before {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -4px;
  left: -4px;
  border-radius: 8px;
  box-shadow: 0 0 0 0 rgba(71, 89, 255, 0.5);
  transform: scale(1);
  transition: box-shadow 0.3s, transform 0.3s;
  pointer-events: none;
  color: #4759FF
}

.login-link:hover::before,
.cart-link:hover::before {
  color: #4759FF; /* Cor da barra */
  box-shadow: 0 0 0 4px rgba(71, 89, 255, 0.5);
  transform: scale(1.05);
}

.login-text {
  margin-right: 5px;
}

.login-icon,
.cart-icon {
  width: 20px;
  height: 20px;
}

.cart-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.login-text {
  margin-right: 5px;
}

.login-icon {
  width: 20px;
  height: 20px;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu .left-side {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.login-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.login-icon {
  margin-left: 5px;
}


a {
  color: #000; /* Cor do texto */
  text-decoration: none; /* Remova o underline padrão */
  position: relative; /* Define uma posição relativa */
}

.text-underline:hover {
  color: #4759FF; /* Cor do texto ao passar o mouse */
}

.text-underline::after {
  content: ""; /* Adiciona um conteúdo vazio após o link */
  position: absolute; /* Define uma posição absoluta em relação ao link */
  width: 100%; /* Define a largura como 100% do link */
  height: 2px; /* Define a altura do underline */
  bottom: 10px; /* Posiciona o underline abaixo do link */
  right: 0px;
  background-color: #4759FF; /* Cor do underline */
  visibility: hidden; /* Torna o underline invisível por padrão */
  transform: scaleX(0); /* Reduz a largura do underline a 0 */
  transition: all 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.text-underline:hover::after {
  visibility: visible; /* Torna o underline visível ao passar o mouse */
  transform: scaleX(1); /* Aumenta a largura do underline para 100% */
}


.menu .left-side {
  text-decoration: none;
}
.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #30387c;
    padding: 20px;
  }

  .logo-cagi{
    display: none;
  }

  .menu.open {
    display: flex;
  }
  .menu .left-side {
    flex-direction: column;
    align-items: flex-start;
  }
}
