.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}

.main-content .title {
  font-size: 48px;
  text-align: center;
  line-height: 1.2;
}

.main-content .description {
  max-width: 550px;
  margin-top: 20px;
  text-align: center;
}
